<mat-toolbar color="primary" class="header">
  <span>Yarra Heritage Maps</span>
  <span class="flex-spacer"></span>
  <a mat-button href="/">Back</a>
</mat-toolbar>
<div class="view">
  <h1>Terms of Service</h1>
  <p>
    Prototype!
    This tool is not a definitive reference of Yarra Planning Scheme.
    For research and education only. Do not use for statutory purposes.
    It is provided without guarantees of accuracy or maintenance.
  </p>
  <h1>Privacy</h1>
  <p>
    No personal user data is collected. 
  </p>
  <p>
      Usage data that is automatically collected includes user account and ip address and access patterns.
      This site uses cookies for authentication.
  </p>
  <h1>About</h1>
  <p>
    Contact Object Consulting  Pty Ltd, Melbourne Australia.
    info@objectconsulting.com.au
  </p>
  <nav>
  </nav>
  <a mat-raised-button color="primary" href="/" class="back">Back</a>
</div>
