<mat-toolbar color="primary" class="header">
  <span>Heritage Explorer</span>
  <span class="flex-spacer"></span>
  <a mat-button href="/">Back</a>
</mat-toolbar>
<div class="view">
  <h1>Terms of Service</h1>
  <div class="alert alert-warning" >WARNING</div>
  <p>This tool is not a definitive reference for Heritage in the Yarra Planning Scheme.</p>
  <p>For research and education only. Do not use for statutory purposes.</p>
  <p>It is provided without guarantees of accuracy or maintenance.</p>
  <p>For more details, refer to the <a href="https://storage.cloud.google.com/historic_map_overlays/userdocs/userguide.html" >User Guide</a>.
  </p>
  <h1>Privacy</h1>
  <p>
    No personal user data is collected. 
  </p>
  <p>
      Usage data that is automatically collected includes user account (if signed in), IP address and access patterns.<br/>
      This site uses cookies for authentication.
  </p>
  <h1>About</h1>
  <p>
    Contact <a href="https://www.objectconsulting.com.au/">Object Consulting</a> Pty Ltd, Melbourne Australia.
  </p>
  <img src="/assets/logo_object-1.png" alt="logo" height="41px" width="100px">
  <nav>
  </nav>
  <a mat-raised-button color="primary" href="https://storage.cloud.google.com/historic_map_overlays/userdocs/userguide.html" class="back">User Guide</a> 
  &nbsp;
  <a mat-raised-button color="secondary" href="/" class="back">Back to Map</a>
</div>

