
p {
    font-family: Roboto, Helvetica, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 0.7em;
}
ul {
    padding-inline-start: 15px;
}

li {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 0.7em;
}

h4 {
    font-size: 0.8em;
    font-family: Roboto, Helvetica, sans-serif;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: bold;
}

h4 a {
    vertical-align: middle;   
    text-decoration: none;
}


.OverlayId {
    text-emphasis: bold;
    font-weight: bold;
}

.HeritagePlace {
    font-size: 0.8em;
}

.Controls {
    color: rgb(22, 22, 77);
    margin-block-end: 1px;
    margin-block-start: 1px;
    margin-bottom: 1px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}
.Expiry {
    color: rgb(116, 10, 10);
}

.Aboriginal {
    color: black
}

.instructions {
    text-align: center;
}