/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
}

color-picker .color-picker {
    border: none;
    box-shadow: 1px 0px 4px 2px rgba(0,0,0,0.15);
    border-radius: 2px;
}


p {
    font-family: Roboto, Helvetica, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 0.7em;
}
ul {
    padding-inline-start: 15px;
}

li {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 0.7em;
}

h4 {
    font-size: 0.8em;
    font-family: Roboto, Helvetica, sans-serif;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: bold;
}

h4 a {
    vertical-align: middle;   
    text-decoration: none;
}


.details-tile {
    margin-left: 20px;
}

.vhr {
    font-size: 0.8em;
    font-weight: bold;
    color: #ac332f;
}
