@import '~@angular/material/theming';
@include mat-core();

// primary: #00539b
// accent: #2c2b2b
// white: #ffffff
// grey: #e5e3df

$primary: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #42140c,
    400: #42140c,
    500: #42140c,
    600: #42140c,
    700: #42140c,
    800: #42140c,
    900: #42140c,
    A100: #42140c,
    A200: #42140c,
    A400: #42140c,
    A700: #42140c,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: #ffffd2,
        400: #ffffd2,
        500: #ffffd2,
        600: #ffffd2,
        700: #ffffd2,
        800: #ffffd2,
        900: #ffffd2,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: #ffffd2,
    )
);

$secondary: (
    50: #2c2b2b,
    100: #2c2b20,
    200: #2c2b21,
    300: #2c2b22,
    400: #2c2b23,
    500: #2c2b24,
    600: #2c2b25,
    700: #2c2b26,
    800: #2c2b27,
    900: #2c2b28,
    A100: #2c2b29,
    A200: #2c2b2a,
    A400: #2c2b2b,
    A700: #2c2b2c,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$bqmapper-primary: mat-palette($primary);
$bqmapper-accent:  mat-palette($secondary, 500, 900, A100);
$bqmapper-warn:    mat-palette($mat-red);

$bqmapper-theme: mat-light-theme($bqmapper-primary, $bqmapper-accent, $bqmapper-warn);

@include angular-material-theme($bqmapper-theme);
