<div *ngIf="heritageSiteInfo.NormalAddress" [ngClass]="heritageStatusClass()">
  <b>{{heritageSiteInfo['NormalAddress']}}</b><br />
  <div class="carousel-container">
      <ngu-carousel #myCarousel 
        [inputs]="carouselTile" 
        (carouselLoad)="carouselTileLoad()"
        [dataSource]="[first, second, third]">
         
        <div *nguCarouselDef="let item;" class="item">
            <div class="tile">
              <ng-container *ngTemplateOutlet="item"></ng-container>
            </div>
          </div>
        
          <ng-template #first>
            <p>Image</p>
            <div *ngIf="heritageSiteInfo.Image">
                <img src="{{heritageSiteInfo.Image}}" alt="VHD Photo" height="100%" width="100%">
            </div>
            </ng-template>
        
          <ng-template #second>
              <h1>Details</h1>
              <h3>Estimated Date: {{heritageSiteInfo['EstimatedDate']}}</h3>
              <h4 class="heritageStatusColor">{{heritageSiteInfo['Name']}}</h4>
              <h4>In Heritage Overlay: {{heritageSiteInfo['Overlay']}}</h4>
              <h4>Heritage Status: {{heritageSiteInfo['HeritageStatus']}}</h4>
              <div *ngIf="heritageSiteInfo.VHR!=='none'" class='vhr'>
                VHR: <a target="_blank" [href]="vhrLink()">{{heritageSiteInfo['VHR']}}</a><br/>
              </div>
              <div class='vhd'>
                VHD: <a target="_blank" [href]="vhdLink()">{{heritageSiteInfo['vhdplaceid']}}</a><br/>
              </div>
            </ng-template>
        
          <ng-template #third>
            <p>Third</p>
            <mat-expansion-panel (opened)="getDetails($event)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <a target="_blank" [href]="sosLink()">Statement of Significance</a>
                  </mat-panel-title>
                  <mat-panel-description>
                    Details ...
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p [innerHTML]="sosDetails$ | async"></p>
              </mat-expansion-panel>
          </ng-template>
          <button NguCarouselNext class="rightRs">></button>
          <button NguCarouselPrev class="leftRs"><</button>
          <ul class="myPoint" NguCarouselPoint>
            <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
          </ul>
        </ngu-carousel>
    </div>
  <div>
  </div>
</div>