<mat-card class="example-card" *ngIf="heritageSiteInfo.NormalAddress">
    <mat-card-header  [ngClass]="heritageStatusClass()">
      <mat-card-title  *ngIf="heritageSiteInfo.NormalAddress">{{heritageSiteInfo['NormalAddress']}}</mat-card-title>
      <mat-card-subtitle>{{heritageSiteInfo['HeritageStatus']}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ngu-carousel #myCarousel 
        [inputs]="carouselTile" 
        (onMove)="onCarouselMove($event)"
        (carouselLoad)="carouselTileLoad()"
        [dataSource]="[first, second, third, fourth]">
         
        <div *nguCarouselDef="let item;" class="item">
            <div class="tile">
              <ng-container *ngTemplateOutlet="item"></ng-container>
            </div>
          </div>
          <ng-template #first>
            <div *ngIf="heritageSiteInfo.Image" class="Image-Container">
                <img src="{{heritageSiteInfo.Image}}" alt="Photo of Heritage Site from VHD Database">
              </div>
            </ng-template>
          <ng-template #second class='details-tile'>
            <div class="details-panel">
              <p>Estimated Date: {{heritageSiteInfo['EstimatedDate']}}</p>
              <p>Name: {{heritageSiteInfo['PropertyType']}}</p>
              <h4>Heritage Status: {{heritageSiteInfo['HeritageStatus']}}</h4>
              <div *ngIf="heritageSiteInfo.VHR!=='none'" class='vhr'>
                VHR: <a target="_blank" [href]="vhrLink()">{{heritageSiteInfo['VHR']}}</a><br/>
              </div>
              <div class='vhd'>
                VHD: <a target="_blank" [href]="vhdLink()">{{heritageSiteInfo['vhdplaceid']}}</a><br/>
              </div>
            </div>
            </ng-template>        
          <ng-template #third>
            <mat-expansion-panel (opened)="getDetails($event)" [(expanded)]="sosExpanded">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <a target="_blank" [href]="sosLink()">Statement of Significance</a>
                  </mat-panel-title>
                  <mat-panel-description>
                    Details ...
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="sos-panel"><p [innerHTML]="sosDetails$ | async"></p></div>
              </mat-expansion-panel>
          </ng-template>
          <ng-template #fourth>
              <p>Overlay Details</p>
              <p>In Heritage Overlay: {{heritageSiteInfo['Overlay']}}</p>
          </ng-template>
          <i NguCarouselPrev class="scrollArrows leftRs material-icons" [style.opacity]="myCarousel.isFirst ? 0.5:1">chevron_left</i>
          <i NguCarouselNext class="scrollArrows rightRs material-icons" [style.opacity]="myCarousel.isLast ? 0.5:1">chevron_right</i>
          <button mat-button>LIKE</button>
          <span class="myPoint" NguCarouselPoint>
              <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
          </span>
          <button mat-button>SHARE</button>
          </ngu-carousel>       
    </mat-card-content>
</mat-card>
