

:host {

    .heritage-splitter as-split {
        overflow: inherit;
        height: calc(100vh - 48px);
        .as-split-area {
            background-color: #fffffA;
            & > p {
               padding: 5px;
           }
        }

        ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
        ::ng-deep .as-split-gutter-icon:hover {
            opacity: .1;
        }
        @media (max-width:481px)  { /* smartphones, Android phones, landscape iPhone */ 
            &.as-vertical ::ng-deep .as-split-gutter-icon {
                height: 18px !important;
                top: -8px;
                bottom: 8px;
        } 
        }
        @media (min-width:480px)  {
            &.as-vertical {
                ::ng-deep .as-split-gutter-icon {
                    height: 8px !important;
                    top: -8px;
                    bottom: 8px;
                }
            }
        }   
    }
}