<mat-toolbar color="primary" class="header">
  <p><button class="material-icons" mat-button (click)="sidenav.toggle()"><i class="material-icons">
        {{sidenavOpened? "chevron_left" : "chevron_right" }}
      </i></button></p>
  <span class="flex-spacer"></span>
  <div class="overlay-title">
    <ng-container  *ngIf="isSignedIn && overlayProperties!=null; else showtitle">
      <span>
        <div  class="overlay-title"><i>{{overlayProperties.Overlay}}</i></div>
        <div class="small-description">{{overlayProperties.heritagePlaceName().substring(0, 70)}}</div>
      </span>
    </ng-container>
    <ng-template #showtitle>Yarra Heritage Maps Explorer</ng-template>
  </div>
  <span class="flex-spacer"></span>
  <a mat-button href="/terms" matTooltip="Terms, Help, Feedback" matTooltipPosition="after">!</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="over" [(opened)]="sidenavOpened" (opened)="events.push('open!')"
    [ngClass]="advancedControlsOpened ? 'wide-drawer' : 'drawer'" (closed)="events.push('close!')">
    <section>
      <button *ngIf="!isSignedIn" mat-raised-button color="primary" (click)="signin()">Sign in</button>
      <form *ngIf="isSignedIn" [formGroup]="dataFormGroup">
        <div class="wide sql-location">
          <div>
            <app-layer-select (selectedLayersInfo)="handleSelectedLayersChanged($event)">
            </app-layer-select>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Historic Maps" formControlName="selectedMMBWIds" ([ngModel])="mmbwMaps"
                matTooltip="Select MMBW 1904 Map to Overlay." matTooltipPosition="after" multiple>
                <mat-option *ngFor="let mmbwmap of mmbwMaps" [value]="mmbwmap.MMBWmapId">
                  {{ mmbwmap.MMBWmapId }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-select placeholder="Select Heritage Overlay" formControlName="overlayId"
                ([ngModel])="matchingOverlays" matTooltip="Select Overlay to Map." matTooltipPosition="after">
                <mat-option *ngFor="let overlay of matchingOverlays" [value]="overlay.Overlay">
                  {{ overlay.Overlay }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <section class="restore-slider-section">
              <mat-slide-toggle [color]="primary" [checked]="_loadSitesForPreviousOverlay"
                (change)="loadSitesForPreviousOverlay($event)">
                <span class="legend">Restore on Reload</span>
              </mat-slide-toggle>
            </section>
          </div>
          <mat-radio-group aria-labelledby="shadingscheme-radio-group-label" class="shadingscheme-radio-group"
            formControlName="shadingSchemesOptions">
            <label class="shadingscheme-radio-title" id="shadingscheme-radio-group-label">Shade by</label>
            <mat-radio-button matInput class="shadingscheme-radio-button" *ngFor="let scheme of shadingSchemes"
              [value]="scheme">
              {{scheme}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </form>
      <ng-container *ngIf="isSignedIn">
        <div class=legend-border>
          <label class="legend legend-title">Legend</label>
          <div class="legend legend-caption" *ngFor="let prop of getHeritageShadingFill().caption; let i = index">
            <div>{{prop}}</div>
            <div>
              <span class="legend legend-swatch"
                [ngStyle]="{'background': getHeritageShadingFill().range[i], opacity: getHeritageShadingFill().fillOpacity }"></span>
            </div>
          </div>
        </div>
      </ng-container>
      <mat-expansion-panel id='advanced-controls' *ngIf="isSignedIn" [expanded]="advancedControlsOpened"
        (opened)="openAccordion(true)" (closed)="openAccordion(false)">
        <mat-expansion-panel-header>
            <!-- above disables the advanced controls -->
          <mat-panel-title>
            Advanced Settings
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        Advanced Settings are not working! Please Close.
        <mat-vertical-stepper linear (selectionChange)="onStepperChange($event)" #stepper>
          <mat-step [stepControl]="schemaFormGroup" label="Define columns">
            <div style="margin-bottom: 2em">
              <button mat-raised-button color="primary" matStepperNext>Add styles</button>
            </div>
            <form [formGroup]="schemaFormGroup">
              <mat-form-field class="wide">
                <mat-select placeholder="Geometry column" formControlName="geoColumn" ([ngModel])="columnNames"
                  matTooltip="Select field containing WKT-formatted geometry" matTooltipPosition="after">
                  <mat-option *ngFor="let column of columnNames" [value]="column">{{ column }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-table *ngIf="data" [dataSource]="data" class="result-table">
                <ng-container *ngFor="let column of columnNames; let i = index" [matColumnDef]="column">
                  <mat-header-cell *matHeaderCellDef>
                    <div class="header-cell-title">{{ column }}</div>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="result-table-cell" [title]="row[column]">{{ row[column] }}
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columnNames" [ngStyle]="{'min-width': getRowWidth()}">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: columnNames;" [ngStyle]="{'min-width': getRowWidth()}"></mat-row>
              </mat-table>
            </form>
          </mat-step>
          <mat-step [stepControl]="stylesFormGroup" label="Style">
            <form [formGroup]="stylesFormGroup">
              <mat-accordion class="styles-prop-list">
                <mat-expansion-panel *ngFor="let prop of StyleProps" [formGroupName]="prop.name">
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{ prop.name }}</mat-panel-title>
                    <mat-panel-description>
                      <span *ngIf="getPropStatus(prop.name) === 'computed'"
                        class="rule-badge computed">data-driven</span>
                      <span *ngIf="getPropStatus(prop.name) === 'global'" class="rule-badge global">global</span>
                      <span *ngIf="getPropStatus(prop.name) === 'none'" class="rule-badge none">none</span>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-rule-input [prop]="prop" [columns]="columns"
                    [formGroup]="getPropFormGroup(prop.name)"></app-rule-input>
                </mat-expansion-panel>
              </mat-accordion>

            </form>
          </mat-step>
        </mat-vertical-stepper>
      </mat-expansion-panel>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="floating">
      <mat-progress-spinner *ngIf="pending" mode="indeterminate" [diameter]="24" [strokeWidth]="4">
      </mat-progress-spinner>
    </div>

    <div class=heritage-splitter>
      <as-split unit="percent" [direction]="direction" (dragEnd)="dragEnd('percent', $event)" #split="asSplit">
        <as-split-area size="sizes.area1" #area1="asSplitArea">
          <app-map [rows]="rows" [geoColumn]="'bndry'" [selectedLayersInfo]="selectedLayersInfo"
            [mmbwOverlay]="selectedMmbwMaps" [styles]="styles" (overlayChanged)="handleMapOverlayHighlighted($event)"
            (overlaySelected)="handleMapOverlaySelected($event)"
            (heritageSiteChanged)="handleMapHeritageSiteHighlighted($event)"
            (heritageSiteSelected)="handleMapHeritageSiteSelected($event)" [hidePropertySubject]="hidePropertySubject">
          </app-map>
        </as-split-area>
        <as-split-area size="sizes.area2" #area2="asSplitArea" [minSize]="minTitleHeight">
          <app-heritage-site-info #heritage_info
                [heritageSiteInfo]="highlightedHeritageSiteInfo"
                [overlayProperties]="selectedOverlayProperties"
                [panelHeightSubject]="splitterSizeSubject"
                title="Selected"
                context="fixed"
                (hideFeature$)="featureHideRequest($event)">
          </app-heritage-site-info>
        </as-split-area>
      </as-split>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>